.content{
    width: 100vw;
    height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}

body{
    width: 100vw;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}
// 覆盖浏览器自动填充（internal-autofill-selected + webkit-autofill）
:root {
  --autofill-bg: rgba(12, 12, 32, 0.4); // 和你 input 背景一致
  --autofill-text: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected,
input:-internal-autofill-previewed {
  background-color: transparent !important;
  background-image: none !important;
  // 核心：用大阴影盖住默认背景
  -webkit-box-shadow: 0 0 0 1000px var(--autofill-bg) inset !important;
  box-shadow: 0 0 0 1000px var(--autofill-bg) inset !important;
  // 文字颜色
  -webkit-text-fill-color: var(--autofill-text) !important;
  color: var(--autofill-text) !important;
  // 防止闪烁
  transition: background-color 5000s ease-in-out 0s !important;
}
